<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <appSettings>
      <add key="LogFolder" value="D:\"/>
      <add key="BackupFolder" value="D:\"/>
      
      <add key="MailHost" value="smtp.gmail.com"/>
      <add key="MailPort" value="587"/>
      <add key="MailAcount" value="emqs.idss@imchc.com"/>
      <add key="MailPassword" value="YqKQrIow"/>
      <add key="MailSubject" value="WeChat Report"/>
      <add key="MailAddress" value="emqs.idss@imchc.com"/>
      <add key="SenderName" value="IMCHC EMQS"/>
      <add key="ToAddress" value="dick.li@ingrammicro.com"/>
      <add key="CCAddress" value="dick.li.sheng@gmail.com"/>
      <add key="BCCAddress" value=""/>
      <add key="MailBody" value="这是一封由系统自动生成的邮件，请不要回复。"/>
      
    </appSettings>
    <connectionStrings>
      <add name="IDSSConnectionString"
          connectionString="Data Source=192.168.75.17;User ID=sa;Initial Catalog=IDSS"
          providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>